{{ ansible_managed | comment }}
+ : root : LOCAL # redacted list of subnets
+ : @facility-admin : ALL
{% if access_list is defined %}
{% for item in access_list %}
+ : {{ item }} : ALL
{% endfor %}
{% endif %}
+ : telegraf : LOCAL
- : ALL : ALL
